---
import { Image } from 'astro:assets';
const { src, alt, caption } = Astro.props;
---

<figure>
  <starlight-image-zoom-zoomable>
    <Image
      src={src}
      alt={alt || caption || 'Image'}
      width={src.width}
      height={src.height}
      loading="lazy"
    />
    <button aria-label={`Zoom image${caption ? `: ${caption}` : ''}`} class="starlight-image-zoom-control">
      <svg aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
        <use href="#starlight-image-zoom-icon-zoom"></use>
      </svg>
    </button>
  </starlight-image-zoom-zoomable>
  {caption && <figcaption>Bild: {caption}</figcaption>}
</figure>

<style>
figure {
  display: inline-block;
  margin: 0;
  margin-bottom: 1em;
}
img {
  max-width: 100%;
}
figcaption {
  caption-side: bottom;
  font-style: italic;
  text-align: left;
}
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
</style>
